/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* root variable */
:root {
  --color-primary-light: #00bf6f;
  --color-primary-dark: #009657;
  --color-body: #000;
  --color-bg-light-gray: #f6f6f6;
  --color-bg-dark-gray: #f0f0f0;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--color-body);
}

/* container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* nav */

.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: var(--color-white);
  border-top: 1px solid rgb(238, 238, 238);
  z-index: 3;
  padding: 0.5rem 0;
}

.bottom-nav__a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav__img {
  gap: 0.55rem;
}

.bottom-nav__span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-body);
}

@media screen and (min-width: 640px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px 15px;
  }
  .bottom-nav {
    display: none;
  }
}

/* h1, h2, h3 */
h1,
h2,
h3 {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.6rem;
  }
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
}

.logo__img {
  max-width: 100%;
  padding: 2rem 6rem;
}

@media screen and (min-width: 640px) {
  .logo__img {
    padding: 0;
  }
}

/* form */

.search-bar {
  display: none;
}

@media screen and (min-width: 1024px) {
  /* .serach-box {
    display: flex;
    flex-basis: 50%;
  } */

  .search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 0.4rem 1rem 0.2rem 14rem;
    background-color: #f5f5f5;
  }

  .search-bar input {
    width: 100%;
    line-height: 50px;
    height: 50px;
    display: flex;
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 0.4rem 0 1rem 14rem;
    font-size: 1.6rem;
  }

  ::placeholder {
    font-family: "IRANSansX";
    color: #707070;
    padding: 0rem 0rem 0 28rem;
    display: block;
  }

  .search-bar button img {
    width: 25px;
  }

  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

/* buttons */
.btn {
  font-size: 1.1rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 1rem 2.1rem;
  margin: 0 1rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  transition: all 0.3s ease-out;
}

.btn--primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.btn--gift {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.btn--none {
  display: none;
}

.for-user {
  display: none;
}

@media screen and (min-width: 375px) {
  .btn {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 640px) {
  .btn {
    font-size: 1.6rem;
  }

  .btn--none {
    display: block;
    border-radius: 28px;
  }
  .btn--gift {
    display: none;
  }
  .for-user {
    display: flex;
    justify-content: center;
    align-items: end;
  }
}

/* icons */

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.fa-magnifying-glass {
  padding: 0 1rem;
  margin-bottom: 0.6rem;
}

.icon__shopping-bag {
  width: 30px;
  height: 30px;
}
.icon__shopping-bag:hover,
.bottom-nav__a:hover {
  fill: var(--color-primary-dark);
  transition: all 0.3s ease-out;
  color: var(--color-primary-dark);
}

.icon-bottom-nav {
  width: 30px;
  height: 30px;
}

/* :hover {
  color: var(--color-primary-dark);
} */
