/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* root variable */
:root {
  --color-primary-light: #00bf6f;
  --color-primary-dark: #009657;
  --color-body: #000;
  --color-bg-light-gray: #f6f6f6;
  --color-bg-dark-gray: #f0f0f0;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--color-body);
}

/* container */

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* nav */

.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: var(--color-white);
  border-top: 1px solid rgb(238, 238, 238);
  z-index: 3;
  padding: 0.5rem 0;
}

.bottom-nav__a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav__img {
  gap: 0.55rem;
}

.bottom-nav__span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-body);
}

@media screen and (min-width: 640px) {
  .nav__top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px 15px;
  }

  .nav {
  }
}
.middle-nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  .bottom-nav {
    display: none;
  }
  /* megggggggggggggggggggggggggggggggggggggggggggggggggggggggggggga menu */

  nav {
    /* position: fixed; */
    z-index: 99;
    width: 100%;
    /* background: #242526; */
    border-bottom: 2px solid var(--color-bg-dark-gray);
    padding-bottom: 5rem;
  }

  .middle-nav {
    display: block;
  }

  nav .wrapper {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    position: relative;
    /* max-width: 1300px; */
    /* padding: 0px 30px; */
    height: 70px;
    line-height: 70px;
    margin: auto;
  }
  /* .wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
} */

  .wrapper .nav-links {
    /* display: inline-flex; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
  }
  .wrapper.list-style {
    list-style: circle;
  }
  .nav-links li a {
    color: var(--color-body);
    text-decoration: none;
    /* font-size: 18px; */
    font-weight: 500;
    padding: 9px 15px;
    /* border-radius: 5px; */
    transition: all 0.3s ease;
  }
  .nav-links li a:hover {
    /* background: #3a3b3c; */
    color: var(--color-primary-light);
  }
  .nav-links .mobile-item {
    display: none;
  }
  /* .nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
} */
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content {
    /* background: #242526; */
    background: var(--color-white);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  .mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
  }
  /* .content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
  .content .row header {
    /* color: #f2f2f2; */
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
  }
  .row .mega-links li {
    padding: 0 20px;
  }
  .row .mega-links li a {
    padding: 0px;
    /* padding: 0 20px; */
    /* color: #d9d9d9; */
    font-size: 1.2rem;
    display: block;
  }
  .row .mega-links li a:hover {
    /* color: #f2f2f2; */
    display: inline;
    color: var(--color-primary-light);
    border-bottom: 1px solid var(--color-primary-light);
    transition: all 0.2s ease-in;
  }
  .wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
  }

  /* @media screen and (max-width: 970px) {
    .wrapper .btn {
      display: block;
    }
    .wrapper .nav-links {
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
    }
     custom scroll bar 
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3a3b3c;
    }
    #menu-btn:checked ~ .nav-links {
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn {
      display: block;
    }
    .nav-links li {
      margin: 15px 10px;
    }
    .nav-links li a {
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu {
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box {
      max-height: 100%;
    }
    .nav-links .desktop-item {
      display: none;
    }
    .nav-links .mobile-item {
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
      background: #3a3b3c;
    }
    .drop-menu li {
      margin: 0;
    }
    .drop-menu li a {
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box {
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content {
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row {
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
      border-top: 0px;
    }
    .content .row .mega-links {
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li {
      margin: 0;
    }
    .content .row header {
      font-size: 19px;
    } */
}

/* h1, h2, h3 */
h1,
h2,
h3 {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.6rem;
  }
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
}

.logo__img {
  max-width: 100%;
  padding: 2rem 6rem;
}

@media screen and (min-width: 640px) {
  .logo__img {
    padding: 0;
  }
}

/* form */

.search-bar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 0.4rem 1rem 0.2rem 14rem;
    background-color: #f5f5f5;
  }

  .search-bar input {
    width: 100%;
    line-height: 50px;
    height: 50px;
    display: flex;
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 0.4rem 0 1rem 14rem;
    font-size: 1.6rem;
  }

  ::placeholder {
    font-family: "IRANSansX";
    color: #707070;
    padding: 0rem 0rem 0 28rem;
    display: block;
  }

  .search-bar button img {
    width: 25px;
  }

  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

/* buttons */
.btn {
  font-size: 1.1rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 1rem 2.1rem;
  margin: 0 1rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  transition: all 0.3s ease-out;
}

.btn--primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.btn--gift {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.btn--none {
  display: none;
}

.for-user {
  display: none;
}

@media screen and (min-width: 375px) {
  .btn {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 640px) {
  .btn {
    font-size: 1.6rem;
  }

  .btn--none {
    display: block;
    border-radius: 28px;
  }
  .btn--gift {
    display: none;
  }
  .for-user {
    display: flex;
    justify-content: center;
    align-items: end;
  }
}

/* icons */

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.fa-magnifying-glass {
  padding: 0 1rem;
  margin-bottom: 0.6rem;
}

.icon__shopping-bag {
  width: 30px;
  height: 30px;
}
.icon__shopping-bag:hover,
.bottom-nav__a:hover {
  fill: var(--color-primary-dark);
  transition: all 0.3s ease-out;
  color: var(--color-primary-dark);
}

.icon-bottom-nav {
  width: 30px;
  height: 30px;
}

/* list */
.list-items :first-child {
  list-style: none;
}

.list-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 0.8rem;
  margin: 2rem 0 0 0;
  color: var(--color-body);
}

.list-items:hover {
  /* color: var(--color-primary-light); */
}
